* {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
steps for responsiveness:
1)make website shrink nicely(smooth and centred)
2)add media queries for different device dimensions
if needed
3)do one final shrink test once complete, using 
dimensions mode in devtool
*/

@media (max-width: 2560px) {
    * {
        zoom: 120%;
    }
}

@media (max-width: 1630px) {
    * {
        zoom: 100%;
    }
}

@media (max-width: 768px) {
    * {
        zoom: 95%;
    }
}

@media (max-width: 470px) {
    * {
        zoom: 90%;
    }
}

@media (max-width: 375px) {
    * {
        zoom: 85%;
    }
}

img {
    width: 180px;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.first_row-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 450px;
    background-color: #1F2937;
    padding: 0px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.first_row-box div, .first_row-box .links {
    color: white;
    white-space: nowrap;
}

.first_row-box a {
    text-decoration: none;
    margin: 10px;
    margin-top: 20px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

.first_row-box div {
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.first_row-box .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_row-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.second_row_left_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 475px;
}

.second_row_left_column .main_text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: wrap;
}

.second_row_left_column .secondary_text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 450px;
    white-space: wrap;
}

.second_row_left_column button {
    text-align: center;
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 17px;
    font-weight: 600;
    width: 125px;
    height: 38px;
    border-radius: 8px;
    border-style: none;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 105px;
}

.second_row_right_column {
    display: flex;
    align-items: center;
}

.second_row_right_column img {
    margin: 10px;
    margin-top: 15px;
    width: 548px;
    height: 240px;
    margin-bottom: 110px;
    flex: 1;
}

.third_row-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
    margin-bottom: -10px;
}

.third_row-box div {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    white-space: nowrap;
}

.fourth_row-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.fourth_row-box img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 180px;
    height: 180px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

.imgtext { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgtext div {
    width: 180px;
    text-align: center;
    color: rgb(75, 75, 75);
    font-size: 20px;
}

.sixth_row-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 100;
    font-style: light italic;
    color: #1F2937;
    margin-top: 45px;
    padding-top: 130px;
    padding-bottom: 130px;
}

.sixth_row-box div {
    min-width: 570px;
    max-width: 811.24px;
    margin-left: 20px;
    margin-right: 20px;
}

.seventh_row-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding-right: 10px;
}

.seventh_row-box div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 23px;
    margin-top: -220px;
    margin-left: 56.5%;
    margin-right: auto;
    padding-left: 10px;
    white-space: nowrap;
}

.eighth_row-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 110px;
}

.eight_inner-box {
    background-color: #3882f6;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    width: 75%;
    min-width: 456.25px;
    padding: 50px;
    padding-top: 53px;
    padding-bottom: 53px;
    border-radius: 6.5px;
    gap: 20px;
}

.left_8_inner-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 75%;
    margin-left: 60px;
}

.bolded_left_8_inner-box {
    font-weight: 600;
    font-size: 25px;
}

.non-bolded_left_8_inner-box {
    font-size: 20px;
}

.right_8_inner-box {
    padding-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_8_inner-box button {
    background-color: #3882f6;
    border-style: none;
    border: 2px solid white;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.ninth_row-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 18px;
    white-space: nowrap;
}