img {
    width: 180px;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
}

.first_row-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: #1F2937;
}

