* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 180px;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
}

.first_row-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1F2937;
    padding: 10px;
    padding-left: 100px;
    padding-right: 150px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.first_row-box div, .first_row-box a {
    color: white;
    white-space: nowrap;
}

.first_row-box a {
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    color: #E5E7EB
}

.first_row-box div {
    margin: 10px;
    margin-right: 20px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.first_row-box .first_link {
    margin-left: auto;
}

.second_row-box {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    padding-left: 100px;
    padding-right: 150px;
    height: 400px;
}

.second_row_left_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second_row_left_column .main_text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.second_row_left_column .secondary_text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 450px;
}

.second_row_left_column button {
    text-align: center;
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 17px;
    font-weight: 600;
    width: 125px;
    height: 38px;
    border-radius: 8px;
    border-style: none;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 105px;
}

.second_row_right_column {
    display: flex;
    align-items: center;
}

.second_row_right_column img {
    margin: 10px;
    width: 500px;
    height: 250px;
    margin-bottom: 110px;
}

.third_row-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
}

.third_row-box div {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}